<div class="row dm-page-title">
  <div class="col-xs-12">
    MON BEL AMOUR, DIS-MOI<br>
    <strong>SI JE NE ME TROMPE PAS...</strong>
  </div>
</div>
<div class="dm-page-content row">
  <div class="row">
    <div class="col-xs-12">
      <div class="dm-list product row" ng-repeat="item in data.list">
          <div>
            <div class="col-xs-4 no-padding">
              <div class="col-xs-4 no-padding">
                <button class="btn btn-info dm-btn"
                  ng-click="updatePrice(item, -1)"
                  ng-disabled="!item.product">-</button>
              </div>
              <div class="col-xs-4 dm-form-label">
                <span>{{item.quantity || 0}}</span>
              </div>
              <div class="col-xs-4 no-padding">
                <button class="btn btn-info dm-btn"
                  ng-click="updatePrice(item, 1)"
                  ng-disabled="!item.product">+</button>
              </div>
            </div>
            <div class="col-xs-8 dm-form-label ellipsis"
              ng-class="{ 'missing-product': !item.product }"
              ng-click="triggerList(item);">
              <span>{{(item.product ? item.product : item.category).toUpperCase()}}</span>
              <span ng-if="!item.product"><strong>?</strong></span>
            </div>
            <div class="col-xs-8 col-xs-offset-4 suggestions" ng-if="item.showList">
              <div class="row"
                ng-repeat="suggestion in item.suggestions"
                ng-click="selectSuggestion(item, suggestion)">
                <div class="col-xs-3 no-padding">
                  <img class="product-pic" src="{{suggestion.picture}}">
                </div>
                <div class="col-xs-9">{{suggestion.product}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12" ng-show="data.price">
      <div class="dm-total">TOTAL TTC : {{data.price.toFixed(2)}} €</div>
    </div>
  </div>
  <div class="row" ng-show="data.price">
    <button class="btn btn-info dm-btn dm-validate"
      ng-click="validate()">
      VALIDER
    </button>
  </div>
</div>