<div class="row dm-page-title">
  <div class="col-xs-12">
    OUPSY... IL ME SEMBLE QUE<br>
    <strong>TU VAS BIENTÔT MANQUER DE...</strong>
  </div>
</div>
<div class="row span-select">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="form-group">
      <select class="form-control"
        ng-init="data.timespan = initTimespan"
        ng-options="t as t.label for t in data.availableTimespans"
        ng-model="data.timespan"
        ng-change="getList(data.timespan.value)">
      </select>
    </div>
  </div>
</div>
<div class="dm-page-content" ng-show="data.list">
  <div class="row">
    <div class="col-xs-12">
      <div class="check-box dm-list category" ng-repeat="item in data.list">
        <label>
          <input type="checkbox" ng-model="item.checked">
          <span>{{item.category}}</span>
        </label>
      </div>
      <div class="form-group dm-list category">
        <label class="dm-plus">+</label>
        <input type="text" class="form-control new-item" ng-focus="addItem()">
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-info dm-btn dm-validate"
      ng-show="data.list && data.list.length>0"
      ng-click="validateList()">
      VALIDER
    </button>
  </div>
</div>
